footer {
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

.footer-btn {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-btn img {
  width: 25px;
  height: 25px;
}

.footer-btn span {
  font-size: 12px;
  color: #333;
}